In [1]:
import pandas as pd
import numpy as np
import importlib

In [5]:
from LePackage import CommonTools
from LePackage import SpecialFunctions

In [6]:
def reload_everything():
    for module in [CommonTools, SpecialFunctions]:
        importlib.reload(module)

In [7]:
reload_everything()

In [8]:
titi = 5
toto = 8
tutu = 9

In [9]:
CommonTools.premiere_fonction(titi, toto, tutu)

22

In [10]:
SpecialFunctions.my_special_function(titi, toto, tutu)

484

In [11]:
SpecialFunctions.google_style_docstring(18,7)

4

In [12]:
SpecialFunctions.type_hints_essai()

12.5

In [10]:
Toy_object = SpecialFunctions.Objet_de_ouf(a=titi, b=toto)

In [19]:
Toy_object

a     : 5b     : 8

In [17]:
Toy_object.show_me_your_attributes()

a     : 5
b     : 8

In [20]:
Toy_object.fais_de_la_merde_avec_les_attributs()

'ab -- 13'

In [37]:
my_text = """
essai soulignement simple avec ===
==================================
"""

In [38]:
for symbol in ['#', '*', '=', '-', '^', '"']:
    print(my_text.replace('=', symbol))

essai soulignement simple avec ###
##################################


essai soulignement simple avec ***
**********************************


essai soulignement simple avec ===
==================================


essai soulignement simple avec ---
----------------------------------


essai soulignement simple avec ^^^
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


essai soulignement simple avec """
""""""""""""""""""""""""""""""""""

In [31]:
tutu = """
#
*
=
-
^
\""""

In [32]:
', '.join([f"'{elem}'" for elem in tutu.split()])

'\'#\', \'*\', \'=\', \'-\', \'^\', \'"\''

In [33]:
[f"{elem}" for elem in tutu.split()]

['#', '*', '=', '-', '^', '"']

$\underline{\text{Preuve que }A_{6} \text{ n'est pas un sous-espace vectoriel de } \mathbb{R^2}}$

On prend comme corps $\mathbb{K}=\mathbb{R}$

Si $A_{6}$ sous-espace vectoriel de $\mathbb{R^2}$ on devrait avoir $dim(A_{6}) \leq dim(\mathbb{R^2}) = 2 $

Or,  $\vec{u} = (1,1) \in A_{6}$ et $ \vec{v} = (-1,1) \in A_{6}$, et $\vec{u} \neq \lambda . \vec{v} \space (\lambda \in \mathbb{R})$
$\implies (\vec{u}, \vec{v})$ famille libre de $A_{6} \implies dim(A_{6}) \geq 2$

$dim(A_{6}) \leq 2$  et  $dim(A_{6}) \geq 2 \implies dim(A_{6}) = 2$

Si $dim(A_{6}) = 2$ et $A_{6}$ sous-espace de $\mathbb{R^2}$ lui-même espace vectoriel de dimension 2, on devrait avoir $A_{6} = \mathbb{R^2}$. 

Or c'est faux : 
$\vec{w} = (0,3) \in \mathbb{R^2}$ mais $\vec{w} \notin A_{6}$ car $x_{w} = 0$ et $\vec{w} \neq (0,0)$

$ \implies A_{6}$  ne peut pas être un sous-espace vectoriel de $\mathbb{R^2}$ car cette hypothèse aboutit à une contradiction


$
\\
$

$\underline{\text{Description de }A_{6}}$

On qualifie le complémentaire, plus facile à visualiser : le complémentaire de $A_{6}$ ce sont :
$\{(x, y)|x, y \in \mathbb{R}, x = 0 \text{ ou } y = 0 \text{ et } (x, y) \neq (0,0)\}$

- x = 0 ==> c'est l'axe des ordonnées
- y = 0 ==> c'est l'axe des abscisses

$A_{6}$ = $\mathbb{R^2}$ privée de l'axe des abscisses et des ordonnées mais avec l'origine (0,0)

$\vec{u}$

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randint(0, 100, size=[10, 4]),
                  columns=[r'$\alpha$', r'$\beta$', r'$\gamma$', r'$\delta$'])
df

   $\alpha$  $\beta$  $\gamma$  $\delta$
0        63       78        21        91
1        14       16        17         7
2        77       37        99        64
3        84       59        23        74
4         6       25        95        26
5        17       96        51        44
6        42       54        35        29
7        36       63        22         8
8         4       24        69        80
9        20       96        98        80

In [ ]:

𝛼
	𝛽
	𝛾
	𝛿
0 	63 	78 	21 	91
1 	14 	16 	17 	7
2 	77 	37 	99 	64
3 	84 	59 	23 	74
4 	6 	25 	95 	26
5 	17 	96 	51 	44
6 	42 	54 	35 	29
7 	36 	63 	22 	8
8 	4 	24 	69 	80
9 	20 	96 	98 	80

In [1]:
5//2

2

In [2]:
5%2

1

In [13]:
my_index = pd.date_range(
                            start=2010, 
                            periods=10, 
                            freq='24h', 
                            tz='Europe/Paris'
)

my_data  = np.random.randint(0, 10, len(my_index))

ts = pd.Series(
                index=my_index,
                data=my_data
)

In [15]:
ts

1970-01-01 00:00:00.000002010    1
1970-01-02 00:00:00.000002010    9
1970-01-03 00:00:00.000002010    4
1970-01-04 00:00:00.000002010    9
1970-01-05 00:00:00.000002010    1
1970-01-06 00:00:00.000002010    1
1970-01-07 00:00:00.000002010    6
1970-01-08 00:00:00.000002010    1
1970-01-09 00:00:00.000002010    2
1970-01-10 00:00:00.000002010    4
Freq: 24H, dtype: int32